.App {
  background: #2a2c30;
  align-content: center;
  justify-content: center;
}

h1 {
  color: #b6c2d6;
  text-align: center;
  width: 100%;
}

.Item-Box {
  width: 30%;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}
